

.cardPerson {
        height:270px;
        padding:3px;
        font-family:verdana;
        font-size:12px;
        font-weight:normal;
        border-left:dotted 2px #3276B1;
        border-bottom:dotted 2px #3276B1;
}

.cardPersonEven { 
        background-color:#BDBDBD;
}


.persNote{
        text-align:right;
        clear:both;
        float:left;
        color:#000;
        width:49%;
}

.persAlias {
        color:#E1E315;
}

.persData{
        float:left;
        width:49%;
        font-weight:bold;
}

.rightDesk {
        height: 40px;
}

.rightButton {
        float:right;
        background-color: #0012FF;
        color: #fff;
        font-weight:700;
        width:10%;
        text-align:center;
}

.rightOFF {
        background-color: #989FFF;
        color:#CED1FF;
}

.editButton {
        float:right;
        background-color: #006600;
        color: #fff;
        font-weight:700;
        width:10%;
        text-align:center;
}

.editOFF {
        background-color: #9BEB9B;
        color:#C3EEC3;
}


.delButton {
        float:right;
        background-color: #cc0000;
        color: #fff;
        font-weight:700;
        width:10%;
        text-align:center;
}

.pathButton {
        
        float:right;
        background-color: #FFD200;
        color: #fff;
        font-weight:700;
        width:10%;
        text-align:center;
        
}

.delOFF {
        background-color: #FFC4C4;
        color:#FFE0E0;
}

.persDataPause {
        margin-top: 10px;
}

.photo {
        width:50px;
        margin-left:3px;
}

.photoDesk {
        /*
        clear:both;
        float:left;
        */
        margin-right:10px;
}
.personIdent {
        /*float:left;
        width:180px;
        */
}

.photoDesk, .personIdent {
        height:160px;
}

.otherPerson {
        clear:both;
        float:left;
        width:100%;
        border-top:dotted 1px #000;
}

.persNoteFull {
        text-align:left;
        clear:both;
        float:left;
        color:#000;
        width:47%;
}

.persDataFull {
        clear:both;
        float:left;
        width:100%;
        font-weight:bold;
}

.persNoteFull, .persDataFull {
        padding-left:5px;
} 

.warning {
        color: #cc0000;
        font-weight:700;
}

.credit {
        color: #006600;
        font-weight:700;
}

.success {
        color: #108C00;
        font-weight:700;
}

/*
.delAlert {
        color: #cc0000;
        font-weight:700;
        font-size:20px;
}
*/



a:hover {
        cursor:pointer;
}

.delButton a {
        color: #fff;
}

.delButton a:hover {
        color: #fff;
}

.delButton a:visited {
        color: #fff;
}

.delButton  a.active {
        color: #fff;
}
